# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project Data & Artifacts
dataset/
mlflow.db
mlruns/
*.log
.DS_Store
