absl-py==2.2.2
accelerate==1.6.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
alembic==1.18.3
alt-profanity-check==1.6.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.9.0
asgiref==3.8.1
astunparse==1.6.3
attrs==25.3.0
backports.tarfile==1.2.0
bidict==0.23.1
blinker==1.9.0
boto3==1.42.30
botocore==1.42.30
build==1.2.2.post1
CacheControl==0.14.3
cachetools==5.5.2
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.1
cleo==2.1.0
click==8.1.8
cloudpickle==3.1.2
colorama==0.4.6
contourpy==1.3.3
crashtest==0.4.1
cryptography==46.0.4
cycler==0.12.1
databricks-sdk==0.83.0
dataclasses-json==0.6.7
Deprecated==1.3.1
discord.py==2.5.2
distlib==0.4.0
distro==1.9.0
Django==5.2
docker==7.1.0
dulwich==0.22.8
fastapi==0.128.0
fastjsonschema==2.21.1
fastuuid==0.14.0
filelock==3.19.1
findpython==0.6.3
Flask==3.1.2
flask-cors==6.0.2
flatbuffers==25.2.10
fonttools==4.59.1
frozenlist==1.6.0
fsspec==2025.3.2
gast==0.6.0
git-filter-repo==2.47.0
gitdb==4.0.12
GitPython==3.1.46
google-auth==2.40.2
google-genai==1.16.1
google-pasta==0.2.0
graphene==3.4.3
graphql-core==3.2.7
graphql-relay==3.2.0
greenlet==3.3.0
grpcio==1.67.1
grpcio-tools==1.67.1
h11==0.16.0
h5py==3.13.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huey==2.6.0
huggingface-hub==0.30.2
idna==3.10
importlib_metadata==8.7.0
inflection==0.5.1
iniconfig==2.1.0
inquirerpy==0.3.4
installer==0.7.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
Jinja2==3.1.6
jiter==0.12.0
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keras==3.9.2
keyring==25.6.0
kiwisolver==1.4.9
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-core==1.2.7
langchain-experimental==0.4.1
langchain-text-splitters==1.1.0
langsmith==0.6.4
libclang==18.1.1
limits==5.7.0
litellm==1.81.7
Mako==1.3.10
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.2
matplotlib==3.10.5
mdurl==0.1.2
ml_dtypes==0.5.1
mlflow==3.9.0
mlflow-skinny==3.9.0
mlflow-tracing==3.9.0
more-itertools==10.7.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.4.3
mypy_extensions==1.1.0
namex==0.0.8
networkx==3.4.2
numpy==2.1.3
nvidia-riva-client==2.19.1
openai==2.15.0
opencv-python==4.12.0.88
opentelemetry-api==1.39.1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
opt_einsum==3.4.0
optree==0.15.0
orjson==3.11.5
packaging==25.0
pandas==2.3.3
pbs-installer==2025.4.9
pfzy==0.3.4
pillow==11.2.1
pipenv==2024.4.1
pkginfo==1.12.1.2
platformdirs==4.5.0
pluggy==1.5.0
poetry-core==2.1.3
prettytable==3.17.0
profanity-check==1.0.3
profanityfilter==2.1.0
prompt_toolkit==3.0.51
propcache==0.3.1
protobuf==6.33.5
psutil==7.0.0
py-cpuinfo==9.0.0
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.11.3
pydantic-settings==2.12.0
pydantic_core==2.33.1
Pygments==2.19.1
pyparsing==3.2.3
pyproject_hooks==1.2.0
pytest==8.3.5
pytest-asyncio==0.26.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-engineio==4.12.0
python-multipart==0.0.20
python-socketio==5.13.0
pytz==2025.2
pywin32==311
pywin32-ctypes==0.2.3
PyYAML==6.0.2
quiver==0.1
rank-bm25==0.2.2
RapidFuzz==3.13.0
referencing==0.37.0
regex==2024.11.6
requests==2.32.5
requests-toolbelt==1.0.0
rich==14.0.0
rpds-py==0.30.0
rsa==4.9.1
s3transfer==0.16.0
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
shellingham==1.5.4
simple-websocket==1.1.0
six==1.17.0
skops==0.13.0
slowapi==0.1.9
smmap==5.0.2
sniffio==1.3.1
SQLAlchemy==2.0.45
sqlparse==0.5.3
starlette==0.46.2
sympy==1.13.1
-e git+https://github.com/niravpatidar37/telecom-churn-react-agent.git@70c735460fcf8fe64fe1755e595052640b52fa19#egg=telecom_churn_react_agent
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.0.1
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.21.1
tomlkit==0.13.2
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tqdm==4.67.1
transformers==4.51.3
trove-classifiers==2025.5.1.12
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
ultralytics==8.3.186
ultralytics-thop==2.0.16
unicorn==2.1.3
urllib3==2.4.0
uuid_utils==0.13.0
uvicorn==0.40.0
virtualenv==20.35.4
waitress==3.0.2
watchfiles==1.1.1
wcwidth==0.2.13
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wrapt==1.17.2
wsproto==1.2.0
yarl==1.20.0
zipp==3.21.0
zstandard==0.23.0